<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../../css/styles.css">
        <script src='./js/app.js'>  </script>


    </head>

    <img>
            
        {{>header}}
        <div class="main-content">

            <h1>{{title}}</h1>
            <p>This website is created by DNguyen. The weather data is provided by <a href="https://weatherstack.com">https://weatherstack.com</a>.</p>
            <img class="robot-image" src='/img/weather-icons.png'></img>


        </div>

        {{>footer}}

    </body>




</html>